body {
	background-color: 
}

#firstrow {
	background-color: grey; 
}

.htarie {
	color: green;
}

#thesearch {background: url(images/search-icon.png) no-repeat #fff right ;
    back
}
#maincushion {
   width: 90%;
   max-height: 500px;
   margin-left: 60px;
   margin-right: 60px;

}

.btnn {
	
}

#mainimage {
	background-color: grey;
}

#button {
	font-weight: 400;
	font-size: 18px;
	background-color: rgb(79, 97, 124);
}

#pic1 {
	padding-top: 15px;
	margin-left: 15px;
	height: 300px;
	width: 300px;
}


#pic3 {
	padding-top: 15px;
    margin-left: 35px;
	height: 300px;
	width: 300px;
}

#pic2 {
	padding-top:8px ;
}

#firstrowimages {
	background-color: grey; 
}
#news {

	background-color: rgb(22, 130, 3);
}
 /*changing stroke sign in bootstrap*/
}
.breadcrumb > li + li:before {
  
  content: "|\00a0"; 
}

.breadcrumb {
 
  background-color:rgb(131, 215, 226) ;
  
}

footer {
	background-color:rgb(131, 215, 226) ; 



}
#footer {
	background-color: grey;
}

ul.social-network {
	margin-top:30px;	
	padding:10px;
	transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
	display:inline;
	margin: 0 18px;		
}

#row-footer {
	background-color: grey;
}