body {
	background-color: 
}

#firstrow {
	background-color: rgb(9, 27, 56); 
}

.htarie {
	color: green;
}

#thesearch {background: url(images/search-icon.png) no-repeat #fff right ;
    back
}
#maincushion {
   width: 90%;
   max-height: 500px;
   margin-left: 50px;

}

#mainimage {
	background-color: rgb(9, 27, 56);
}

#button {
	font-weight: 400;
	font-size: 18px;
	background-color: rgb(79, 97, 124);
}

#pic1 {
	padding-top: 15px;
	margin-left: 15px;
	height: 300px;
	width: 300px;
}


#pic3 {
	padding-top: 15px;
    margin-left: 35px;
	height: 300px;
	width: 300px;
}

#pic2 {
	padding-top:8px ;
}

#firstrowimages {
	background-color: rgb(9, 27, 56); 
}